<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fanruan.platform.mapper.CommonsMapper">

    <resultMap id="getBlackListResultMap" type="com.fanruan.platform.bean.BlackList">
        <result column="PID" jdbcType="VARCHAR" property="pid" />
        <result column="ENTNAME" jdbcType="VARCHAR" property="entName" />
        <result column="CODE" jdbcType="VARCHAR" property="code" />
        <result column="START_DATE" jdbcType="TIMESTAMP" property="startDate" />
        <result column="END_DATE" jdbcType="TIMESTAMP" property="endDate" />
        <result column="GRADE" jdbcType="VARCHAR" property="grade" />
        <result column="REASON" jdbcType="VARCHAR" property="reason" />
        <result column="REASON_URL" jdbcType="VARCHAR" property="reasonUrl" />
        <result column="PUBLISH_DEPT" jdbcType="VARCHAR" property="publishDept" />
        <result column="APPROVE_DEPT" jdbcType="VARCHAR" property="approveDept" />
        <result column="PUBLISH_TIME" jdbcType="TIMESTAMP" property="publishTime" />
        <result column="TYPE" jdbcType="VARCHAR" property="type" />
        <result column="STATUS" jdbcType="VARCHAR" property="status" />
        <result column="APPROVE_TIME" jdbcType="TIMESTAMP" property="approveTime" />
        <result column="UPDATEBY" jdbcType="VARCHAR" property="updateby" />
        <result column="CANCEL_BY" jdbcType="VARCHAR" property="cancelBy" />
        <result column="CANCEL_TIME" jdbcType="VARCHAR" property="cancelTime" />
        <result column="CANCEL_REASON" jdbcType="VARCHAR" property="cancelReason" />
    </resultMap>

    <select id="getBlackList" resultType="com.fanruan.platform.bean.BlackList">
        select * from INPUT_BLACKLIST where sysdate &lt;=add_months(start_date,1) and status=2
        and COMPANYNAME in (
        SELECT DISTINCT O.SUBCOMPANYNAME --二级公司
        FROM ODS_HR_PSNDOC A
        LEFT JOIN DIM_ORG O ON A.ORGCODE=O.SUBCOMPANYCODE
        WHERE  A.CODE=#{userCode}--用户名
        AND O.TP=2
        UNION
        SELECT DISTINCT O.SUBCOMPANYNAME --管理员
        FROM ODS_HR_PSNDOC A
        LEFT JOIN DIM_ORG O ON A.ORGCODE=O.SUBCOMPANYCODE
        WHERE  'admin'=#{userCode}--用户名
        AND O.TP IN (1,2)
        UNION
        SELECT DISTINCT O.SUBCOMPANYNAME --集团
        FROM DIM_ORG O
        WHERE  '浙江省国际贸易集团有限公司' =
        (
        SELECT DISTINCT O.SUBCOMPANYNAME --集团
        FROM ODS_HR_PSNDOC A
        LEFT JOIN DIM_ORG O ON A.ORGCODE=O.SUBCOMPANYCODE
        WHERE  A.CODE=#{userCode}--用户名
        AND O.TP=1
        )
        AND O.TP IN (1,2)
        )
    </select>

    <resultMap id="getUserCompanyResultMap" type="com.fanruan.platform.bean.UserCompany">
        <result column="CODE" jdbcType="VARCHAR" property="code" />
        <result column="NAME" jdbcType="VARCHAR" property="name" />
    </resultMap>

    <select id="getUserCompany" resultType="com.fanruan.platform.bean.UserCompany">
        with ds1 as(
            SELECT CODE,NAME,SCODE,SNAME FROM BIUSER.ODS_HR_ORG
            UNION
            SELECT CODE,NAME,SCODE,SNAME FROM BIUSER.INPUT_HR_ORG
            WHERE ENABLESTATE=1
        )
        SELECT CODE,NAME --自身
        FROM ds1 A
        WHERE  CODE=(SELECT COMPANY_CODE FROM CREDIT_USER WHERE USERNAME=#{username})
        UNION ALL
        SELECT CODE,NAME --下级公司
        FROM ds1 A
        WHERE SCODE=(SELECT COMPANY_CODE FROM CREDIT_USER WHERE USERNAME=#{username})
        UNION ALL
        SELECT B.CODE,B.NAME --下下级公司
        FROM ds1 A
                 INNER JOIN ds1 B ON A.CODE=B.SCODE
        WHERE A.SCODE=(SELECT COMPANY_CODE FROM CREDIT_USER WHERE USERNAME=#{username})
        UNION ALL
        SELECT C.CODE,C.NAME --下下下级公司
        FROM ds1 A
                 INNER JOIN ds1 B ON A.CODE=B.SCODE
                 INNER JOIN ds1 C ON B.CODE=C.SCODE
        WHERE A.SCODE=(SELECT COMPANY_CODE FROM CREDIT_USER WHERE USERNAME=#{username})
        UNION ALL
        SELECT D.CODE,D.NAME --下下下下级公司
        FROM ds1 A
                 INNER JOIN ds1 B ON A.CODE=B.SCODE
                 INNER JOIN ds1 C ON B.CODE=C.SCODE
                 INNER JOIN ds1 D ON C.CODE=D.SCODE
        WHERE A.SCODE=(SELECT COMPANY_CODE FROM CREDIT_USER WHERE USERNAME=#{username})
        order by code
    </select>

    <resultMap id="getZxbApplyListResultMap" type="com.fanruan.platform.bean.ZhongXinBaoLog">
        <result column="corpSerialNo" jdbcType="VARCHAR" property="corpSerialNo" />
        <result column="clientNo" jdbcType="VARCHAR" property="clientNo" />
        <result column="reportbuyerNo" jdbcType="VARCHAR" property="reportbuyerNo" />
        <result column="reportCorpCountryCode" jdbcType="VARCHAR" property="reportCorpCountryCode" />
        <result column="reportCorpChnName" jdbcType="VARCHAR" property="reportCorpChnName" />
        <result column="reportCorpEngName" jdbcType="VARCHAR" property="reportCorpEngName" />
        <result column="reportCorpaddress" jdbcType="VARCHAR" property="reportCorpaddress" />
        <result column="creditno" jdbcType="VARCHAR" property="creditno" />
        <result column="istranslation" jdbcType="VARCHAR" property="istranslation" />
        <result column="corpSerialNoOut" jdbcType="VARCHAR" property="corpSerialNoOut" />
        <result column="approveCode" jdbcType="VARCHAR" property="approveCode" />
        <result column="approveMsg" jdbcType="VARCHAR" property="approveMsg" />
        <result column="clientNoOut" jdbcType="VARCHAR" property="clientNoOut" />
        <result column="otherMsg" jdbcType="VARCHAR" property="otherMsg" />
        <result column="updateBy" jdbcType="VARCHAR" property="updateBy" />
        <result column="updateTime" jdbcType="TIMESTAMP" property="updateTime" />
        <result column="approveby" jdbcType="VARCHAR" property="approveby" />
        <result column="approveDate" jdbcType="TIMESTAMP" property="approveDate" />
        <result column="updateName" jdbcType="VARCHAR" property="updateName" />
        <result column="approveName" jdbcType="VARCHAR" property="approveName" />
    </resultMap>

    <select id="getZxbApplyList" resultType="com.fanruan.platform.bean.ZhongXinBaoLog">
        with ds1 as(
        SELECT CODE,NAME,SCODE,SNAME FROM BIUSER.ODS_HR_ORG
        UNION
        SELECT CODE,NAME,SCODE,SNAME FROM BIUSER.INPUT_HR_ORG
        )
        SELECT
        M.CORPSERIALNO_IMPORT as corpSerialNo,
        M.CLIENTNO_IMPORT as clientNo,
        M.REPORTBUYERNO as reportbuyerNo,
        M.REPORTCORPCOUNTRYCODE as reportCorpCountryCode,
        M.REPORTCORPCHNNAME as reportCorpChnName,
        M.REPORTCORPENGNAME as reportCorpEngName,
        M.REPORTCORPADDRESS as reportCorpaddress,
        M.CREDITNO as creditno,
        M.ISTRANSLATION as istranslation,
        M.CORPSERIALNO_EXPORT as corpSerialNoOut,
        M.APPROVECODE as approveCode,
        M.APPROVEMSG as approveMsg,
        M.CLIENTNO_EXPORT as clientNoOut,
        M.OTHERMSG as otherMsg,
        M.UPDATEBY as updateBy,
        M.UPDATETIME as updateTime,
        M.APPROVEBY as approveby,
        M.APPROVEDATE as approveDate,
        M.updateName as updateName,
        M.approveName as approveName
        FROM (SELECT ROWNUM AS rowno, N.*
        FROM (SELECT T.*,
        U.NAME as updateName,
        P.NAME as approveName
        FROM LOG_ZXB_APPLY T
        LEFT JOIN CREDIT_USER U ON T.UPDATEBY = U.USERNAME
        LEFT JOIN CREDIT_USER P ON T.APPROVEBY = P.USERNAME
        WHERE 1 = 1
        AND U.COMPANY_CODE IN (
        SELECT CODE --自身
        FROM ds1 A
        WHERE  CODE=(SELECT COMPANY_CODE FROM CREDIT_USER WHERE USERNAME=#{operator})
        UNION ALL
        SELECT CODE --下级公司
        FROM ds1 A
        WHERE SCODE=(SELECT COMPANY_CODE FROM CREDIT_USER WHERE USERNAME=#{operator})
        UNION ALL
        SELECT B.CODE --下下级公司
        FROM ds1 A
        INNER JOIN ds1 B ON A.CODE=B.SCODE
        WHERE A.SCODE=(SELECT COMPANY_CODE FROM CREDIT_USER WHERE USERNAME=#{operator})
        UNION ALL
        SELECT C.CODE --下下下级公司
        FROM ds1 A
        INNER JOIN ds1 B ON A.CODE=B.SCODE
        INNER JOIN ds1 C ON B.CODE=C.SCODE
        WHERE A.SCODE=(SELECT COMPANY_CODE FROM CREDIT_USER WHERE USERNAME=#{operator})
        UNION ALL
        SELECT D.CODE --下下下下级公司
        FROM ds1 A
        INNER JOIN ds1 B ON A.CODE=B.SCODE
        INNER JOIN ds1 C ON B.CODE=C.SCODE
        INNER JOIN ds1 D ON C.CODE=D.SCODE
        WHERE A.SCODE=(SELECT COMPANY_CODE FROM CREDIT_USER WHERE USERNAME=#{operator})
        )
        ORDER BY updateTime DESC) N
        WHERE 1 = 1
        <if test="zxbCode != null and zxbCode!=''">
            and (N.reportbuyerNo like '%'||#{zxbCode}||'%' )
        </if>
        <if test="zxbCompanyName != null and zxbCompanyName!='' ">
            and (N.reportCorpChnName like '%'||#{zxbCompanyName}||'%' OR N.reportCorpEngName like '%'||#{zxbCompanyName}||'%' )
        </if>
        <if test="approveCode != null and approveCode != ''">
            and (N.approveCode = #{approveCode})
        </if>
        <if test="zxbInformant != null and zxbInformant!=''">
            and (updateName like '%'||#{zxbInformant}||'%' )
        </if>
        <if test="zxbApprover != null and zxbApprover!=''">
            and (approveName like '%'||#{zxbApprover}||'%' )
        </if>
        ) M
        WHERE 1 = 1
        AND rowno &lt;= #{pageIndex} * #{pageSize}
        AND rowno &gt; (#{pageIndex}-1) * #{pageSize}
    </select>

    <resultMap id="getZxbApplyListCountResultMap" type="java.lang.Integer">
        <result column="co" jdbcType="VARCHAR" property="co" />
    </resultMap>

    <select id="getZxbApplyListCount" resultType="java.lang.Integer">
        with ds1 as(
        SELECT CODE,NAME,SCODE,SNAME FROM BIUSER.ODS_HR_ORG
        UNION
        SELECT CODE,NAME,SCODE,SNAME FROM BIUSER.INPUT_HR_ORG
        )
        select COUNT(1) from (
        SELECT
        M.CORPSERIALNO_IMPORT as corpSerialNo,
        M.CLIENTNO_IMPORT as clientNo,
        M.REPORTBUYERNO as reportbuyerNo,
        M.REPORTCORPCOUNTRYCODE as reportCorpCountryCode,
        M.REPORTCORPCHNNAME as reportCorpChnName,
        M.REPORTCORPENGNAME as reportCorpEngName,
        M.REPORTCORPADDRESS as reportCorpaddress,
        M.CREDITNO as creditno,
        M.ISTRANSLATION as istranslation,
        M.CORPSERIALNO_EXPORT as corpSerialNoOut,
        M.APPROVECODE as approveCode,
        M.APPROVEMSG as approveMsg,
        M.CLIENTNO_EXPORT as clientNoOut,
        M.OTHERMSG as otherMsg,
        M.UPDATEBY as updateBy,
        M.UPDATETIME as updateTime,
        M.APPROVEBY as approveby,
        M.APPROVEDATE as approveDate,
        M.updateName as updateName,
        M.approveName as approveName
        FROM (SELECT ROWNUM AS rowno, N.*
        FROM (SELECT T.*,
        U.NAME as updateName,
        P.NAME as approveName
        FROM LOG_ZXB_APPLY T
        LEFT JOIN CREDIT_USER U ON T.UPDATEBY = U.USERNAME
        LEFT JOIN CREDIT_USER P ON T.APPROVEBY = P.USERNAME
        WHERE 1 = 1
        AND U.COMPANY_CODE IN (
        SELECT CODE --自身
        FROM ds1 A
        WHERE  CODE=(SELECT COMPANY_CODE FROM CREDIT_USER WHERE USERNAME=#{operator})
        UNION ALL
        SELECT CODE --下级公司
        FROM ds1 A
        WHERE SCODE=(SELECT COMPANY_CODE FROM CREDIT_USER WHERE USERNAME=#{operator})
        UNION ALL
        SELECT B.CODE --下下级公司
        FROM ds1 A
        INNER JOIN ds1 B ON A.CODE=B.SCODE
        WHERE A.SCODE=(SELECT COMPANY_CODE FROM CREDIT_USER WHERE USERNAME=#{operator})
        UNION ALL
        SELECT C.CODE --下下下级公司
        FROM ds1 A
        INNER JOIN ds1 B ON A.CODE=B.SCODE
        INNER JOIN ds1 C ON B.CODE=C.SCODE
        WHERE A.SCODE=(SELECT COMPANY_CODE FROM CREDIT_USER WHERE USERNAME=#{operator})
        UNION ALL
        SELECT D.CODE --下下下下级公司
        FROM ds1 A
        INNER JOIN ds1 B ON A.CODE=B.SCODE
        INNER JOIN ds1 C ON B.CODE=C.SCODE
        INNER JOIN ds1 D ON C.CODE=D.SCODE
        WHERE A.SCODE=(SELECT COMPANY_CODE FROM CREDIT_USER WHERE USERNAME=#{operator})
        )
        ORDER BY updateTime DESC) N
        WHERE 1 = 1
        <if test="zxbCode != null and zxbCode!=''">
            and (N.reportbuyerNo like '%'||#{zxbCode}||'%' )
        </if>
        <if test="zxbCompanyName != null and zxbCompanyName!='' ">
            and (N.reportCorpChnName like '%'||#{zxbCompanyName}||'%' OR N.reportCorpEngName like '%'||#{zxbCompanyName}||'%' )
        </if>
        <if test="approveCode != null and approveCode != ''">
            and (N.approveCode = #{approveCode})
        </if>
        <if test="zxbInformant != null and zxbInformant!=''">
            and (updateName like '%'||#{zxbInformant}||'%' )
        </if>
        <if test="zxbApprover != null and zxbApprover!=''">
            and (approveName like '%'||#{zxbApprover}||'%' )
        </if>
        ) M
        WHERE 1 = 1
        )
    </select>

    <insert id="insertOAMsg" parameterType="java.util.List">
        insert into INPUT_PUSH(ID,USER_NAME,PUSH_FLAG,PUSH_TIME,PROMPTINFO,PUSH_TYPE) VALUES(lower(sys_guid())
                                                                                            ,#{updateBy}--填报人
                                                                                            ,'0'
                                                                                            ,SYSDATE
                                                                                            ,'您的信保报告申请已被'||#{approveBy}||'驳回，请重新申请。'--审核人
                                                                                            ,'信保报告审核')
    </insert>

    <resultMap id="getAllCompanyLevelResultMap" type="com.fanruan.platform.bean.CompanyLevel">
        <result column="code" jdbcType="VARCHAR" property="code" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="scode" jdbcType="VARCHAR" property="scode" />
    </resultMap>
    <select id="getAllCompanyLevel" resultType="com.fanruan.platform.bean.CompanyLevel">
        SELECT CODE,NAME,SCODE,SNAME FROM BIUSER.ODS_HR_ORG
        where ENABLESTATE='2'
        <if test="companyCode != null and companyCode !=''">
            and (SCODE = #{companyCode})
        </if>
        UNION
        SELECT CODE,NAME,SCODE,SNAME FROM BIUSER.INPUT_HR_ORG
        WHERE ENABLESTATE='1'
        <if test="companyCode != null and companyCode !=''">
           and (SCODE = #{companyCode})
        </if>
    </select>

    <resultMap id="getCompanyLevelResultMap" type="com.fanruan.platform.bean.CompanyLevel">
        <result column="code" jdbcType="VARCHAR" property="code" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="scode" jdbcType="VARCHAR" property="scode" />
    </resultMap>
    <select id="getCompanyLevel" resultType="com.fanruan.platform.bean.CompanyLevel">
        SELECT CODE,NAME,SCODE,SNAME FROM BIUSER.ODS_HR_ORG
        where ENABLESTATE='2'
        <if test="companyCode != null and companyCode !=''">
            and (CODE = #{companyCode})
        </if>
        UNION
        SELECT CODE,NAME,SCODE,SNAME FROM BIUSER.INPUT_HR_ORG
        WHERE ENABLESTATE='1'
        <if test="companyCode != null and companyCode !=''">
            and (CODE = #{companyCode})
        </if>
    </select>


    <resultMap id="getCompanyStatusResultMap" type="java.lang.String">
        <result column="flag" jdbcType="VARCHAR" property="flag" />
    </resultMap>
    <select id="getCompanyStatus" resultType="java.lang.String">
        SELECT CASE WHEN ENABLESTATE='2' THEN '1' ELSE '0' END AS FLAG FROM BIUSER.ODS_HR_ORG
        WHERE 1 = 1
        <if test="companyCode != null and companyCode !=''">
        and (CODE = #{companyCode})
        </if>
        UNION
        SELECT CASE WHEN ENABLESTATE='1' THEN '1' ELSE '0' END AS FLAG FROM BIUSER.INPUT_HR_ORG
        WHERE 1 = 1
        <if test="companyCode != null and companyCode !=''">
            and (CODE = #{companyCode})
        </if>
    </select>
</mapper>

